/* Start Helpers Classes */

.subscribe {
    background-image: linear-gradient(to right, #96cdf4 0%, #88ceff 51%, #38adfff2 100%);
    font-family: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace;
    padding: 10px 20px;
    color: white;
    font-weight: 600;
    border-radius: 5px;
    transition: 0.5s;
}
.subscribe:hover {
    background-image: linear-gradient(to right,#83cbff  0%, #28a3fa  51%, #45b1ff 100%);
}

.blue-btn-tag {
    color: #4aa4df;
    background-color: #a2c8f924;
}

.red-btn-tag {
    color: #ff6958;
    background-color: #f2b1b12a;
}

.green-btn-tag {
    color: #2ecc71;
    background-color: #a1e6a138;
}


/* End Helpers Classes */



