/* Start Styling Here */



/* Start Global Roles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

:root {
    --aqua-color: #14b7c7;
    --slate-color: #53748a;
    --deep-color: #1b394c;
    --midnight-color: #101a2c;
    --grey-color: #c1c1c1;
    --grey-light-color: #efefef;
    --black-color: #444;
    --border-radius: 5px;
}

body {
    /* background-image: linear-gradient(to right, #232d60, #3f429c); */
    background-color: white;
    font-family: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace;
    font-weight: normal;
}
  
.container {
    margin: 20px 100px;
}

button {
    border: none;
    cursor: pointer;
}

input {
    outline: 0;
    border: 0;
}

/* End Global Roles */


/* Start Header */
header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 60px;
    color: var(--black-color);
    border-radius: var(--border-radius);
}
header::before {
    /* do the header here */
}
header .logo {
    color: var(--black-color);
    font-size: 22px;
}
header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header ul li {
    margin-right: 15px;
    cursor: pointer;
    color: var(--black-color);
}
.topics_menu {
    display: none;
}
header a.list_topics {
    display: block;
    position: relative;
}
header a.list_topics:hover + .topics_menu, header .topics_menu:hover {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 10px;
    text-align: left;
    padding: 10px;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
header .topics_menu li a {
    transition: 0.3s;
}
header .topics_menu li a:hover {
    color: var(--aqua-color);
}



/* End Header */

/* Start Section */
section {
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
}
section .about_me {
    margin: 20px auto;
    width: 50%;
    text-align: center;
}
section .about_me p.name {
    font-size: 50px;
    font-weight: bold;
    color: var(--black-color);
}
section .about_me p.desc {
    color: var(--grey-color);
    margin: 10px 0 30px;
    font-size: 18px;
}
section .about_me .email {
    background-color: var(--grey-light-color);
    border-radius: var(--border-radius);
    display: flex;
    padding: 10px;
    margin-bottom: 50px;
}
section .about_me .email:hover {
    box-shadow: var(--aqua-color) 0px 1px 3px, var(--aqua-color)px 1px 2px;
}
section .about_me .email input {
    width: 100%;
    background-color: var(--grey-light-color);
}
section .about_me .email input::placeholder {
    font-family: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace;
    color: var(--black-color);
    font-size: 13px;
    word-spacing: 0px;
}
section .recent_post {
    margin: 40px 0;
    padding: 20px;
    text-align: center;
}
section .recent_post h1 {
    color: var(--black-color);
    margin-bottom: 30px;
}
section .recent_post .cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: left !important;
}
.cards .card {
    border-radius: var(--border-radius);
    background-color: rgb(247, 247, 247);
    padding: 10px;
    cursor: pointer;
} 
.cards .card .image img {
    border-radius: var(--border-radius) var(--border-radius)  0 0;
    width: 100%;
    background-image: cover;
    background-color: green;
}
.cards .card .date {
    margin: 6px 0;
    color: rgb(255, 73, 155);
    font-weight: bold;
    font-size: 15px;
}
.cards .card .info {

}
.cards .card .info .title {
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 20px;
    color: var(--black-color);
} 
.cards .card .info .description {
    color: var(--grey-color);
    font-weight: 100;
    font-size: 16px;
}
.cards .card .tags {
    margin-top: 10px;
}
.cards .card .tags button {
    padding: 5px 8px;
    border-radius: var(--border-radius);
    font-size: 12px;
    font-weight: bold;
}
.recent_post button.load_more {
    background-image: linear-gradient(to right, #96cdf4 0%, #88ceff 51%, #38adfff2 100%);
    margin: 30px 0;
    padding: 5px 8px;
    border-radius: var(--border-radius);
    font-family: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace;
    color: white;
}
.recent_post button.load_more:hover {
    background-image: linear-gradient(to right,#83cbff  0%, #28a3fa  51%, #45b1ff 100%);
}
/* End Section */


/* Start Footer */
footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
    gap: 20px;
    border-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
footer div h3 {
    color: var(--black-color);
    margin-bottom: 20px;
}
footer .about_blog {
    width: 40%;
}
footer .about_blog p {
    color: grey;
    font-weight: 100;
}
footer .topics {
    width: 20%;
}
footer .topics ul li {
    margin-bottom: 6px;
}
footer .topics ul li a {
    color: var(--aqua-color);
}
footer .feedback {
    color: var(--black-color);
}
footer .feedback p {
    color: grey;
}
footer .feedback .inputs {
    margin-top: 15px;
}
footer .feedback .inputs input {
    display: block;
    width: 60%;
    padding: 10px;
    background-color: var(--grey-light-color);
}
footer .feedback .inputs input::placeholder {
    color: var(--grey-color);
}
footer .feedback .inputs textarea {
    margin: 10px 0;
    display: block;
    padding: 10px;
    width: 350px;
    height: 50px;
}
/* End Footer */


/* Start Message */
.message {
    text-align: center;
    margin: 30px 0;
    color: var(--black-color);
}
/* End Message */
