/* Start Styling Here */



/* Start Global Roles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: black;
}

ul {
    list-style: none;
}

:root {
    --aqua-color: #83cbff;
    --slate-color: #53748a;
    --deep-color: #1b394c;
    --midnight-color: #101a2c;
    --grey-color: #848484;
    --grey-light-color: #efefef;
    --black-color: #444;
    --border-radius: 5px;
    --transition: 0.5s;
}

body {
    /* background-image: linear-gradient(to right, #232d60, #3f429c); */
    background-color: white;
    font-family: 'Fira Code', Monaco, Consolas, Ubuntu Mono, 'Cairo', 'Amiri', sans-serif;
    font-weight: normal;
}
  
.container {
    margin: 20px 100px;
}

@media (max-width: 992px) {
    .container {
        margin: 10px 10px;
    }
}

button {
    border: none;
    cursor: pointer;
}

input {
    outline: 0;
    border: 0;
}

/* End Global Roles */


/* Start Header */
header {
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--black-color);
    padding: 10px;
    border-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
header .logo {
    font-size: 22px;
    display: flex;
    justify-content: center;
}
header .logo p {
    margin-right: 10px;
}
header .logo img {
    width: 120px;
} 
header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}
header ul li {
    margin-right: 15px;
    cursor: pointer;
    color: var(--black-color);
    transition: var(--transition);
}
header ul li:hover a {
    color: var(--aqua-color);
}
@media (max-width: 992px) {
    header {
        display: block;
        height: 100%;
        width: 100%;
    }
    header .logo {
        text-align: center;
        border-bottom: 2px solid var(--grey-light-color);
        padding-bottom: 10px;
        margin-bottom: 10px;
    }
    header button {
        display: none;
    }
}
/* End Header */

/* Start Main */
main {
    margin-top: 60px;
}
main .about_me {
    margin: 20px auto;
    width: 50%;
    text-align: center;
}
@media (max-width: 992px) {
    main .about_me {
        width: 90%;
    }
}
main .about_me p.name {
    font-size: 40px;
    font-weight: bold;
    color: var(--black-color);
}
main .about_me p.description {
    color: var(--grey-color);
    font-weight: normal;
    margin: 10px 0 30px;
    font-size: 18px;
}
main .about_me .email {
    background-color: var(--grey-light-color);
    border-radius: var(--border-radius);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin-bottom: 50px;
    transition: var(--transition);
}
main .about_me .email:hover {
    box-shadow: var(--aqua-color) 0px 0px 0px 0px, var(--aqua-color) 1px 1px 2px;
}
main .about_me .email input:focus::placeholder {
    opacity: 0;
}
main .about_me .email input {
    background-color: var(--grey-light-color);
    width: 60%;
}
main .about_me .email input::placeholder {
    font-family: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace;
    color: var(--black-color);
    font-size: 13px;
    word-spacing: 0px;
}
/* End Main */


/* Start Section [Section exist also in techs.html && web_dev.html && news.html]*/
section {
    display: flex;
    flex-direction: column;
}
section .recent_post {
    margin: 40px 0;
    padding: 20px;
    text-align: center;
}
section .recent_post h1 {
    color: var(--black-color);
    margin-bottom: 30px;
}
.cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    text-align: left !important;
}
@media (max-width: 992px) {
    section .recent_post .cards {
        grid-template-columns: repeat(1, 1fr);
        row-gap: 10px;
    }
}
.cards .card {
    border-radius: var(--border-radius);
    background-color: rgb(247, 247, 247);
    padding: 10px;
} 
.cards .card .image img {
    border-radius: var(--border-radius) var(--border-radius)  0 0;
    width: 100%;
    background-image: cover;
    background-color: green;
}
.cards .card .date {
    margin: 6px 0;
    color: rgb(255, 73, 155);
    font-weight: bold;
    font-size: 15px;
}
.cards .card .info .title {
    font-weight: bold;
    margin-bottom: 6px;
    font-size: 18px;
    color: var(--black-color);
    cursor: pointer;
} 
.cards .card .info .description {
    color: var(--grey-color);
    font-size: 16px;
    margin: 15px 0;
    font-weight: normal;
}
.cards .card .tags {
    margin-top: 10px;
}
.cards .card .tags button {
    padding: 5px 8px;
    border-radius: var(--border-radius);
    font-size: 12px;
    font-weight: bold;
}

.recent_post button.load_more {
    background-image: linear-gradient(to right, #96cdf4 0%, #88ceff 51%, #38adfff2 100%);
    margin: 30px 0;
    padding: 5px 8px;
    border-radius: var(--border-radius);
    font-family: 'Fira Code', Monaco, Consolas, Ubuntu Mono, monospace;
    color: white;
}
.recent_post button.load_more:hover {
    background-image: linear-gradient(to right,#83cbff  0%, #28a3fa  51%, #45b1ff 100%);
}
/* End Section [Section exist also in techs.html && web_dev.html && news.html]*/

/* End Section */


/* Start Footer */
footer {
    display: flex;
    justify-content: center;
    padding: 20px;
    width: 100%;
    gap: 20px;
    border-radius: var(--border-radius);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
footer div h3 {
    color: var(--black-color);
    margin-bottom: 20px;
}
footer .about_blog {
    width: 40%;
}
footer .about_blog p {
    color: grey;
    font-weight: normal;
}
footer .topics {
    width: 20%;
}
footer .topics ul li {
    margin-bottom: 6px;
}
footer .topics ul li a {
    color: var(--aqua-color);
}
footer .feedback {
    color: var(--black-color);
}
footer .feedback p {
    color: grey;
}
footer .feedback .inputs {
    margin-top: 15px;
}
footer .feedback .inputs input {
    display: block;
    width: 60%;
    padding: 10px;
    background-color: var(--grey-light-color);
}
footer .feedback .inputs input::placeholder {
    color: var(--grey-color);
}
footer .feedback .inputs textarea {
    margin: 10px 0;
    display: block;
    padding: 10px;
    width: 350px;
    height: 50px;
}
@media (max-width: 992px) {
    footer {
        text-align: center !important;
        flex-direction: column;
    }
    footer > div {
        width: 100% !important;
    }
    footer .feedback .inputs input, footer .feedback .inputs textarea {
        width: 100%;
    }
}
/* End Footer */


/* Start Message */
.message {
    text-align: center;
    margin: 30px 0;
    color: var(--black-color);
}
/* End Message */
